{% extends 'base.html' %}
{% load static %}

{% block title %}About Outfield{% endblock %}

{% block nav %}
<nav id="nav">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/services">Services</a></li>
		<li class="current"><a href="/about">About</a></li>
	</ul>
</nav>
{% endblock %}

{% block content %}
<!-- Main -->
<section class="wrapper style1">
	<div class="container">
		<div id="content">

			<!-- Content -->

				<article>
					<header>
						<h2>About Outfield</h2>
						<p>Meet the team.</p>
					</header>

					{# <span class="image featured"><img src="images/banner.jpg" alt="" /></span>#}

					<p>Outfield is based in Cambridge, England - where agriculture meets high tech. We operate across
																					Cambridgeshire, Norfolk and Suffolk.</p>
				</article>
		</div>
	</div>
</section>

<!-- Highlights -->
<section class="wrapper style1">
	<div class="container">
		<div class="row 200%">
			<section class="4u 12u(narrower)">
				<div class="box highlight">
					<a href="#" class="image left"><img src="{% static 'home/img/jim01.jpg' %}" alt="" /></a>
					<h3>Jim</h3>
					<p>Jim is a mechanical engineer with three year's experience in safety consulting
																					in the offshore oil and gas industry. He enjoys climbing, martial arts and Turkish delight.</p>
				</div>
			</section>
			<section class="4u 12u(narrower)">
				<div class="box highlight">
					<a href="#" class="image left"><img src="{% static 'home/img/nick01.jpg' %}" alt="" /></a>
					<h3>Nick</h3>
					<p>Nick is an astrophysicist with a Master's degree in image analysis. He loves music, rowing
																					and cleaning up Oli's attempts at web development.</p>
				</div>
			</section>
			<section class="4u 12u(narrower)">
				<div class="box highlight">
					<a href="#" class="image left"><img src="{% static 'home/img/oli01.jpg' %}" alt="" /></a>
					<h3>Oli</h3>
					<p>Oli is an aerospace engineer with over three year's experience designing special missions
																					aircraft. He is passionate about drones, and the vast potential they hold for mankind.</p>
				</div>
			</section>
		</div>
	</div>
</section>
{% endblock %}
