{% extends 'base.html' %}
{% load static %}

{% block title %}Outfield Crop Mapping{% endblock %}

{% block content %}
<!-- Banner -->
<section id="banner" style="overflow:hidden">
	<img style="position:relative; top:-300px" src="{% static 'home/img/banner.jpg' %}" />
	<header>
		<h2>Outfield: <em>Seriously useful aerial crop mapping</em></h2>
		<!--<a href="#" class="button">Learn More</a>-->
	</header>
</section>

<!-- Gigantic Heading -->
<section class="wrapper style2">
	<div class="container">
		<header class="major">
			<h2>What would you do if you could see it all from the air?</h2>
			<p>Now you can.</p>
		</header>
	</div>
</section>

<!-- Highlights -->
<section class="wrapper style1">
	<div class="container">
		<div class="row 200%">
			<section class="4u 12u(narrower)">
				<div class="box highlight">
					<i class="icon major fa-paper-plane"></i>
					<h3>Aerial Data</h3>
					<p>We collect high fidelity data using our unmanned aerial platforms: cheaply, accurately, repeatably.</p>
				</div>
			</section>
			<section class="4u 12u(narrower)">
				<div class="box highlight">
					<i class="icon major fa-pencil"></i>
					<h3>Concise Analysis</h3>
					<p>We provide you with just the information you need...</p>
				</div>
			</section>
			<section class="4u 12u(narrower)">
				<div class="box highlight">
					<i class="icon major fa-wrench"></i>
					<h3>High Impact</h3>
					<p>...to allow you to make decisions on the ground and realise your higher yields.</p>
				</div>
			</section>
		</div>
	</div>
</section>

<!-- Services -->
<section class="wrapper style1">
	<div class="container">
		<div id="content">

			<!-- Content -->
			 <section class="wrapper style1">
			 	<div class="container">
			 		<div class="row">
						<section class="4u 12u(narrower)">
							<div class="box post">
								<img style="position:relative; height:100%; width:100%" src="{% static 'home/img/irrigation02.jpg' %}" alt="" />
							</div>
						</section>
			 			<section class="8u 12u(narrower)">
							<h4>Mapping for Precision Farming</h4>
			 				<div class="box post">
								<p>Outfield aerial mapping forms an essential input to your precision farming system.
                                            Using lightweight multi-spectral cameras, fields are quickly and accurately mapped from the
                                            air. Plots of vegetation index (either NDVI or SARI) are generated, indicating levels of plant stress across
                                            the whole field. This data can be easily related to crop nitrogen levels, allowing you to
                                            precisely target your fertiliser applications.</p>
                                            <p>Precision farming in this manner can help you achieve more uniform yields across your field,
                                            increase total yields, reduce your input costs, and minimise your environmental impact.</p>
                                            <p>Contact us at the bottom of this page to find out more about Outfield precision farming.</p>
							</div>
						</section>
					</div>
					<div class="row">
						<section class="4u 12u(narrower)">
							<div class="box post">
								<img style="position:relative; height:100%; width:100%" src="{% static 'home/img/margin02.jpg' %}" alt="" />
							</div>
						</section>
						<section class="8u 12u(narrower)">
							<h4>Field Margin Mapping</h4>
							<div class="box post">
								<p>If you maintain field margins as part of a Countryside Stewardship Scheme, you will be keen
                                            to ensure those margins are the correct size to secure your payments and avoid hefty fines.
                                            Using our aerial mapping systems, Outfield can quickly and accurately survey field margins
                                            to ensure they meet the required width.</p>
                                            <p>Whether you are self-auditing, or just for piece of mind, Outfield can survey many kilometres
                                            of field boundaries in a fraction of the time of a full RPA inspection. Areas where corrective
                                            measures should be taken are highlighted, and you can easily review back-to-back comparisons
                                            with previous surveys.</p>
                                            <p>Contact us at the bottom of this page to find out more about Outfield field margin mapping.</p>
							</div>
						</section>
					</div>
					<div class="row">
						<section class="4u 12u(narrower)">
							<div class="box post">
								<img style="position:relative; height:100%; width:100%" src="{% static 'home/img/blackgrass_in_barley02.jpg' %}" alt="" />
							</div>
						</section>
						<section class="8u 12u(narrower)">
							<h4>Coming Soon...</h4>
							<div class="box post">
								<p>We are constantly researching, developing and testing new and innovative services unmanned
                                            aerial vehicles can provide. Currently, we are working on systems for accurate weed detection:
                                            for black-grass and for potato blight.</p>
                                            <p>We are keen to form partnerships with farmers and crop producers, to put our research into
                                            practice. If you are interested in becoming an Outfield research partner, contact us at the
                                            bottom of this page.</p>
							</div>
						</section>
					</div>
				</div>
			</section>

		</div>
	</div>
</section>

<!-- About -->
<section class="wrapper style1">
	<div class="container">
		<div id="content">

			<!-- Content -->
			<section class="wrapper style1">
			 <div class="container">
				 <div class="row">
					 <section class="4u 12u(narrower)">
						 <div class="box post">
						 	<img style="position:relative; height:100%; width:100%" src="{% static 'home/img/wheat-stock03.jpg' %}" alt="" />
						 </div>
					 </section>
					 <section class="8u 12u(narrower)">
						 <h4>About Outfield</h4>
						 <div class="box post">
							 <p>At Outfield we are passionate about unmanned aerial systems (UASs or drones). We envision a
                                        world where flying robots help us with daily tasks; from agriculture to search
                                        and rescue, from industrial inspection to traffic management. We are striving to
                                        build systems for drones to interact meaningfully with the world around them, while operating
                                        safely and responsibly. We operate both multi-rotor and fixed wing aircraft.</p>
                                        <p>Outfield is based in Cambridge, England. Meet the Outfield team below.</p>
						 </div>
					 </section>
				 </div>
				</div>
			</section>
		</div>
	</div>
</section>
<section class="wrapper style1">
	<div class="container">
		<div class="row 200%">
			<section class="4u 12u(narrower)">
				<div class="box highlight">
					<a class="image center"><img style="width:100%" src="{% static 'home/img/jim01.jpg' %}" alt="" /></a>
					<h3>Jim</h3>
					<p>Jim is a mechanical engineer with significant experience in safety consulting
					in the offshore oil and gas industry. He enjoys climbing, martial arts and Turkish delight.</p>
				</div>
			</section>
			<section class="4u 12u(narrower)">
				<div class="box highlight">
					<a class="image center"><img style="width:100%" src="{% static 'home/img/nick01.jpg' %}" alt="" /></a>
					<h3>Nicholas</h3>
					<p>Nicholas is an astrophysicist with a passion for image analysis, having worked with everything from stars to cancer cells. He loves art, robots, and web design.</p>
				</div>
			</section>
			<section class="4u 12u(narrower)">
				<div class="box highlight">
					<a class="image center"><img style="width:100%" src="{% static 'home/img/oli01.jpg' %}" alt="" /></a>
					<h3>Oli</h3>
					<p>Oli is an aerospace engineer with several year's experience designing special missions
					aircraft. He is passionate about drones, and the vast potential they hold for mankind.</p>
				</div>
			</section>
		</div>
	</div>
</section>

{% endblock %}
