{% extends 'base.html' %}
{% load static %}

{% block title %}Outfield crop mapping{% endblock %}

{% block content %}
<!-- Banner -->
<section id="banner" style="overflow:hidden">
	<img style="position:relative; top:-300px" src="{% static 'home/img/banner.jpg' %}" />
	<header>
		<h2>Outfield: <em>Seriously useful aerial crop mapping</em></h2>
		<!--<a href="#" class="button">Learn More</a>-->
	</header>
</section>

<!-- Gigantic Heading -->
<section class="wrapper style2">
	<div class="container">
		<header class="major">
			<h2>What would you do if you could see it all from the air?</h2>
			<p>Now you can.</p>
		</header>
	</div>
</section>

<!-- Highlights -->
<section class="wrapper style1">
	<div class="container">
		<div class="row 200%">
			<section class="4u 12u(narrower)">
				<div class="box highlight">
					<i class="icon major fa-paper-plane"></i>
					<h3>Aerial Data</h3>
					<p>We collect high fidelity data using our unmanned aerial platforms. Cheaply, accurately, repeatably.</p>
				</div>
			</section>
			<section class="4u 12u(narrower)">
				<div class="box highlight">
					<i class="icon major fa-pencil"></i>
					<h3>Concise Analysis</h3>
					<p>We provide you with just the information you need...</p>
				</div>
			</section>
			<section class="4u 12u(narrower)">
				<div class="box highlight">
					<i class="icon major fa-wrench"></i>
					<h3>High Impact</h3>
					<p>...to allow you to make decisions on the ground and realise your higher yields.</p>
				</div>
			</section>
		</div>
	</div>
</section>

<!-- Posts -->
<!--
<section class="wrapper style1">
	<div class="container">
		<div class="row">
			<section class="6u 12u(narrower)">
				<div class="box post">
					<a href="#" class="image left"><img src="{% static 'home/img/cereals01.jpg' %}" alt="" /></a>
					<div class="inner">
						<h3>The First Thing</h3>
						<p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
					</div>
				</div>
			</section>
			<section class="6u 12u(narrower)">
				<div class="box post">
					<a href="#" class="image left"><img src="images/pic02.jpg" alt="" /></a>
					<div class="inner">
						<h3>The Second Thing</h3>
						<p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
					</div>
				</div>
			</section>
		</div>
		<div class="row">
			<section class="6u 12u(narrower)">
				<div class="box post">
					<a href="#" class="image left"><img src="images/pic03.jpg" alt="" /></a>
					<div class="inner">
						<h3>The Third Thing</h3>
						<p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
					</div>
				</div>
			</section>
			<section class="6u 12u(narrower)">
				<div class="box post">
					<a href="#" class="image left"><img src="images/pic04.jpg" alt="" /></a>
					<div class="inner">
						<h3>The Fourth Thing</h3>
						<p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
					</div>
				</div>
			</section>
		</div>
	</div>
</section>-->
{% endblock %}
