{% extends 'base.html' %}
{% load static %}

{% block title %}Outfield Aerial Surveys{% endblock %}

{% block content %}
<!-- Banner -->
<section id="banner" style="overflow:hidden">
	<img style="position:relative; top:-300px" src="{% static 'home/img/banner.jpg' %}" />
	<header>
		<h2>Outfield: <em>Practical farming driving aerospace innovation</em></h2>
		<!--<a href="#" class="button">Learn More</a>-->
	</header>
</section>

<!-- Gigantic Heading -->
<section class="wrapper style2">
	<div class="container">
		<header class="major">
			<h2>What would you do if you could see it all from the air?</h2>
			<p>Now you can.</p>
		</header>
	</div>
</section>

<!-- Future of agriculture -->
<section class="wrapper style1">
	<div class="container">
      	<div id="content"	
                <article>
				<header>
					<h2>What is the future of agriculture?</h2>
				</header>
				<p>We believe the future lies in quick and simple aerial surveys providing data to drive better farming practices. Using unmanned aerial vehicles (drones), Outfield is building systems that improve efficiency and save farmers time and money.</p>
                      <p>Designed by growers, built by us.</p>
      		</article>
          </div>
    </div>
</section>

<!-- How does it work -->
<section class="wrapper style1">
	<div class="container">
      	<div id="content"	
                <article>
				<header>
					<h2>How does it work? </h2>
				</header>
				<p>Our approach is focussed on spending time face to face with farmers, in order to develop effective solutions to current problems. Combining local knowledge of farming with Outfield's expertise in drone operation and imagery analysis, we are developing new systems that will help your farm, today.</p>
                      <p>Our current projects include:</p>
      		</article>
           </div>
      	<div class="row 200%">
			<section class="4u 12u(narrower)">
				<div class="box highlight">
					<a class="image center"><img style="width:100%" src="{% static 'home/img/margin02.jpg' %}" alt="" /></a>
					<h3>Field Margin Mapping</h3>
					<p>Fast and accurate aerial surveys of field boundaries to help you meet your Countryside Stewardship Scheme obligations.</p>
				</div>
			</section>
			<section class="4u 12u(narrower)">
				<div class="box highlight">
					<a class="image center"><img style="width:100%" src="{% static 'home/img/irrigation02.jpg' %}" alt="" /></a>
					<h3>Precision Farming Inputs</h3>
					<p>Detailed scans of vegetation index and biomass data, that plug straight into your current precision farming systems.</p>
				</div>
			</section>
			<section class="4u 12u(narrower)">
				<div class="box highlight">
					<a class="image center"><img style="width:100%" src="{% static 'home/img/blackgrass_in_barley02.jpg' %}" alt="" /></a>
					<h3>Weed Detection</h3>
					<p>High resolution plots highlighting problem areas, providing you with the tools you needs for better weed management.</p>
				</div>
			</section>
		</div>
	</div>
</section>

<!-- Safety and privacy-->
<section class="wrapper style1">
	<div class="container">
      	<div id="content"	
                <article>
				<header>
					<h2>Priortising safety and privacy</h2>
				</header>
				<p>Our highest priorities are public safety and the privacy of our clients. All of our operations are fully compliant with UK drone legislation.</p>
      		</article>
          </div>
    </div>
</section>

<!-- What happens next -->
<section class="wrapper style1">
	<div class="container">
      	<div id="content"	
                <article>
				<header>
					<h2>What happens next?</h2>
				</header>
				<p>Outfield is working with farmers and researchers to develop a range of agricultural survey solutions. We’re always interested in discussing problems and possible solutions, and in forming new partnerships with industry.</p>
                      <p>If you’re interested in any of the information here, would like to be involved, or would like to discuss our services further, get in contact with us at the bottom of this page.</p>
      		</article>
          </div>
    </div>
</section>

<!-- Meet the team -->
<section class="wrapper style1">
	<div class="container">
      	<div id="content"	
                <article>
				<header>
					<h2>Meet the team</h2>
				</header>
				<p>Outfield is based in Cambridge, England.</p>
      		</article>
           </div>
      	<div class="row 200%">
			<section class="4u 12u(narrower)">
				<div class="box highlight">
					<a class="image center"><img style="width:100%" src="{% static 'home/img/jim01.jpg' %}" alt="" /></a>
					<h3>Jim</h3>
					<p>Jim is an engineer and risk consultant working in a variety of industries, who has also developed UK safety 
                            legislation and best practice guidance. He loves climbing, hiking and fine whisky.</p>
				</div>
			</section>
			<section class="4u 12u(narrower)">
				<div class="box highlight">
					<a class="image center"><img style="width:100%" src="{% static 'home/img/nick01.jpg' %}" alt="" /></a>
					<h3>Nicholas</h3>
					<p>Nicholas is an astrophysicist with a passion for image analysis, having worked with everything from stars to 
                            cancer cells. He loves art, robots, and web design.</p>
				</div>
			</section>
			<section class="4u 12u(narrower)">
				<div class="box highlight">
					<a class="image center"><img style="width:100%" src="{% static 'home/img/oli01.jpg' %}" alt="" /></a>
					<h3>Oli</h3>
					<p>Oli is an aerospace engineer with several year's experience designing special missions
					aircraft. He is passionate about drones, and the vast potential they hold for mankind.</p>
				</div>
			</section>
		</div>
	</div>
</section>

{% endblock %}
