{% extends 'base.html' %}
{% load static %}

{% block title %}About Outfield{% endblock %}

{% block nav %}
<nav id="nav">
	<ul>
		<li><a href="/">Home</a></li>
		<li class="current"><a href="/services">Services</a></li>
		<li><a href="/about">About</a></li>
	</ul>
</nav>
{% endblock %}

{% block content %}
<!-- Main -->
<section class="wrapper style1">
	<div class="container">
		<div id="content">

			<!-- Content -->
			 <section class="wrapper style1">
			 	<div class="container">
			 		<div class="row">
						<section class="4u 12u(narrower)">
							<div class="box post">
								<img style="position:relative; height:100%; width:100%" src="{% static 'home/img/oli01.jpg' %}" alt="" />
							</div>
						</section>
			 			<section class="8u 12u(narrower)">
							<h4>Title</h4>
			 				<div class="box post">
								asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
								asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
								asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
								varasdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
								asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
								asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
								asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
								asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
							</div>
						</section>
					</div>
					<div class="row">
						<section class="4u 12u(narrower)">
							<div class="box post">
								<img style="position:relative; height:100%; width:100%" src="{% static 'home/img/oli01.jpg' %}" alt="" />
							</div>
						</section>
						<section class="8u 12u(narrower)">
							<h4>Title</h4>
							<div class="box post">
								asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
								asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
								asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
								varasdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
								asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
								asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
								asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
								asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
							</div>
						</section>
					</div>
					<div class="row">
						<section class="4u 12u(narrower)">
							<div class="box post">
								<img style="position:relative; height:100%; width:100%" src="{% static 'home/img/oli01.jpg' %}" alt="" />
							</div>
						</section>
						<section class="8u 12u(narrower)">
							<h4>Title</h4>
							<div class="box post">
								asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
								asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
								asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
								varasdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
								asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
								asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
								asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
								asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
							</div>
						</section>
					</div>
				</div>
			</section>

		</div>
	</div>
</section>
{% endblock %}
