{% extends 'base.html' %}
{% load static %}

{% block title %}About Outfield{% endblock %}

{% block nav %}
<nav id="nav">
	<ul>
		<li><a href="/">Home</a></li>
		<li class="current"><a href="/services">Services</a></li>
		<li><a href="/about">About</a></li>
	</ul>
</nav>
{% endblock %}

{% block content %}
<!-- Main -->
<section class="wrapper style1">
	<div class="container">
		<div id="content">

			<!-- Content -->

			{#

			3 sections, each with a picture. A short paragraph about each.
			1. Crop vegetation index
			2. Field margin surveys
			3. Coming soon... (weed detection; blight, black-grass, yellow rust)

			 #}

			 <section class="wrapper style1">
			 	<div class="container">
			 		<div class="row">
						<section class="4u 12u(narrower)">
							<div class="box post">
								asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
								asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
								asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
								varasdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
							</div>
						</section>
			 			<section class="8u 12u(narrower)">
			 				<div class="box post">
								asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
								asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
								asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
								varasdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
								asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
								asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
								asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
								asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
							</div>
						</section>
					</div>
					<div class="row">
						<section class="4u 12u(narrower)">
							<div class="box post">
								asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
								asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
								asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
								varasdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
							</div>
						</section>
						<section class="8u 12u(narrower)">
							<div class="box post">
								asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
								asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
								asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
								varasdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
								asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
								asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
								asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
								asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
							</div>
						</section>
					</div>
					<div class="row">
						<section class="4u 12u(narrower)">
							<div class="box post">
								asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
								asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
								asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
								varasdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
							</div>
						</section>
						<section class="8u 12u(narrower)">
							<div class="box post">
								asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
								asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
								asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
								varasdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
								asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
								asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
								asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
								asdlkajsdlkasjdalskdj asdlkajsdlkasjdalskdj
							</div>
						</section>
					</div>
				</div>
			</section>

		</div>
	</div>
</section>
{% endblock %}
