{% extends 'base.html' %}
{% load static %}

{% block title %}Outfield Services{% endblock %}

{% block nav %}
<nav id="nav">
	<ul>
		<li><a href="/">Home</a></li>
		<li class="current">
			<a href="/services">Services</a>
			<ul>
				<li><a href="/services/crop-mapping">Crop Mapping</a></li>
				<li><a href="/services/field-margin-mapping">Field Margin Mapping</a></li>
				<li><a href="/services/weed-detection">Crop Health and Weed Detection</a></li>
			</ul>
		</li>
		<li><a href="/about">About</a></li>
	</ul>
</nav>
{% endblock %}

{% block content %}
<!-- Main -->
<section class="wrapper style1">
	<div class="container">
		<div id="content">

			<!-- Content -->
			 <section class="wrapper style1">
			 	<div class="container">
			 		<div class="row">
						<section class="4u 12u(narrower)">
							<div class="box post">
								<img style="position:relative; height:100%; width:100%" src="{% static 'home/img/irrigation02.jpg' %}" alt="" />
							</div>
						</section>
			 			<section class="8u 12u(narrower)">
							<h4>Mapping for Precision Farming</h4>
			 				<div class="box post">
								<p>Outfield aerial mapping forms an essential input to your precision farming system.
                                            Using lightweight multi-spectral cameras, fields are quickly and accurately mapped from the
                                            air. Plots of vegetation index (either NDVI or SARI) are generated, indicating levels of plant stress across
                                            the whole field. This data can be easily related to crop nitrogen levels, allowing you to
                                            precisely target your fertiliser applications.</p>
                                            <p>Precision farming in this manner can help you achieve more uniform yields across your field,
                                            increase total yields, reduce your input costs, and minimise your environmental impact.</p>
                                            <p>Contact us at the bottom of this page to find out more about Outfield precision farming.</p>
							</div>
						</section>
					</div>
					<div class="row">
						<section class="4u 12u(narrower)">
							<div class="box post">
								<img style="position:relative; height:100%; width:100%" src="{% static 'home/img/margin02.jpg' %}" alt="" />
							</div>
						</section>
						<section class="8u 12u(narrower)">
							<h4>Field Margin Mapping</h4>
							<div class="box post">
								<p>If you maintain field margins as part of a Countryside Stewardship Scheme, you will be keen
                                            to ensure those margins are the correct size to secure your payments and avoid hefty fines.
                                            Using our aerial mapping systems, Outfield can quickly and accurately survey field margins
                                            to ensure they meet the required width.</p>
                                            <p>Whether you are self-auditing, or just for piece of mind, Outfield can survey many kilometres
                                            of field boundaries in a fraction of the time of a full RPA inspection. Areas where corrective
                                            measures should be taken are highlighted, and you can easily review back-to-back comparisons
                                            with previous surveys.</p>
                                            <p>Contact us at the bottom of this page to find out more about Outfield field margin mapping.</p>
							</div>
						</section>
					</div>
					<div class="row">
						<section class="4u 12u(narrower)">
							<div class="box post">
								<img style="position:relative; height:100%; width:100%" src="{% static 'home/img/blackgrass_in_barley02.jpg' %}" alt="" />
							</div>
						</section>
						<section class="8u 12u(narrower)">
							<h4>Coming Soon...</h4>
							<div class="box post">
								<p>We are constantly researching, developing and testing new and innovative services unmanned
                                            aerial vehicles can provide. Currently, we are working on systems for accurate weed detection:
                                            for black-grass and for potato blight.</p>
                                            <p>We are keen to form partnerships with farmers and crop producers, to put our research into
                                            practice. If you are interested in becoming an Outfield research partner, contact us at the
                                            bottom of this page.</p>
							</div>
						</section>
					</div>
				</div>
			</section>

		</div>
	</div>
</section>
{% endblock %}
