
html {
	background-color: #eee;
}

body {
	margin: 0px;
	width: 100%;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	height: 100%;
}

#page-wrapper {
	width: 100%;
	position: relative;
}

#logo-head {
	position: fixed;
	top: 15px;
	left: 15px;
	height: 30px;
}

#logo-head img {
	height: 100%;
	visibility: hidden;
}

#nav {
	position: fixed;
	top: 15px;
	left: 15px;
}

#logo-tail {
	height: 30px;
}

#branding-heads-up {
	height: 800px;
	background: url('/static/home/img/banner.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#cta {
	left: 50%;
	transform: translateX(-50%);
	position: relative;
	font-size: 18px;
	height: 50px;
	width: 150px;
	padding-top: 12px;
}

#back {
	position: absolute;
	left: auto;
	bottom: 10px;
	right: 20px;
}

#branding-heads-up img {
	position: relative;
	width: 300px;
	top: 100px;
	left: 50%;
	transform: translateX(-50%);
}

#future-of-agriculture {
	min-height: 300px;
	background-color: #eee;
}

#how-does-it-work {
	min-height: 300px;
}

#services {
	min-height: 400px;
	padding: 0px;
}

#field-margin-mapping {
	height: 400px;
	background: url('/static/home/img/margin02.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#precision-farming {
	height: 400px;
	background: url('/static/home/img/irrigation02.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#weed-detection {
	height: 400px;
	background: url('/static/home/img/blackgrass_in_barley02.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#safety-and-privacy {
	min-height: 200px;
}

#what-happens-next {
	min-height: 200px;
	background-color: #eee;
}

#team {
	min-height: 400px;
}

#activity-contact {
	min-height: 500px;
	background-color: #eee;
}

#twitter {
	height: 500px;
}

#contact {
	height: 500px;
}

/* Multiple panels */
.container {
	width: 100%;
	position: relative;
}

/* Full page width */
.section {
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
	position: relative;
	padding-top: 50px;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 50px;
}

.section-title {
	text-align: center;
	font-size: 28px;
}

.section-subtitle {
	text-align: center;
}

.section p {
	text-align: center;
	font-size: 18px;
}

/* Subdivisions of a full page */
.block {
	box-sizing: border-box;
	position: relative;
	float: left;
	height: 100%;
	min-width: 250px;
}

.block-title {
	text-align: center;
}

.block.half {
	width: 50%;
	padding-left: 10px;
	padding-right: 10px;
}

.block.third {
	width: calc(100% / 3);
}

.block.third img {
	width: 80%;
	position: relative;
	left: 10%;
	border-radius: 5px;
}

.block.m {
	width: 100%;
	padding-left: 10%;
	padding-right: 10%;
}

.shield p {
	text-align: left;
	font-size: 18px;
}

.block .shield {
	border-radius: 5px;
	box-sizing: border-box;
	padding: 30px;
	padding-top: 5px;
	position: relative;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 80%;
	color: #ccc;
	background: rgba(0, 0, 20, 0.8);
}

/* Navigation links */
.nav {
	float: left;
	clear: left;
}

.contact {
	margin-bottom: 10px;
}
