
body {
	margin: 0px;
	width: 100%;
}

#page-wrapper {
	width: 100%;
	position: relative;
}

#logo-head {
	position: fixed;
	top: 15px;
	left: 15px;
	height: 30px;
}

#logo-head img {
	height: 100%;
	visibility: hidden;
}

#nav {
	position: fixed;
	top: 15px;
	left: 15px;
}

#logo-tail {
	height: 30px;
}

#branding-heads-up {
	height: 800px;
	background-image: url('/static/home/img/banner.jpg');
	background-repeat: no-repeat;
	/*background-attachment: fixed;*/
	background-position: center;
}

#branding-heads-up img {
	position: relative;
	width: 300px;
	top: 150px;
	left: 50%;
	transform: translateX(-50%);
}

#future-of-agriculture {
	min-height: 200px;
	background-color: #b0a18e;
}

#how-does-it-work {
	min-height: 200px;
}

#services {
	min-height: 300px;
}

#safety-and-privacy {
	min-height: 200px;
}

#what-happens-next {
	min-height: 200px;
}

#team {
	min-height: 400px;
}

#activity-contact {
	min-height: 200px;
}


/* Multiple panels */
.container {
	width: 100%;
	position: relative;
}

/* Full page width */
.section {
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
	position: relative;
	padding-top: 50px;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 50px;
}

.section-title {
	text-align: center;
}

.section-subtitle {
	text-align: center;
}

.section-text {

}

/* Subdivisions of a full page */
.block {
	box-sizing: border-box;
	position: relative;
	float: left;
	padding-right: 10px;
	height: 100%;
	min-width: 250px;
}

.block-title {
	text-align: center;
}

.block.half {
	width: 50%;
}

.block.third {
	width: calc(100% / 3);
}

.block.m {
	width: 100%;
	padding-left: 10%;
	padding-right: 10%;
}

/* Navigation links */
.nav {
	float: left;
	clear: left;
}
