
body {
	margin: 0px;
	width: 100%;
}

#page-wrapper {
	width: 100%;
	position: relative;
}

#logo-head {
	position: fixed;
	top: 15px;
	left: 15px;
	height: 30px;
}

#logo-head img {
	height: 100%;
}

#nav {
	position: fixed;
	top: 15px;
	left: 15px;
}

#logo-tail {
	height: 30px;
}

#branding-heads-up {
	height: 800px;
}

#branding-heads-up img {
	position: relative;
	width: 300px;
	top: 200px;
	left: 50%;
	transform: translateX(-50%);
}

#future-of-agriculture {

}

#how-does-it-work {

}

#services {

}

#safety-and-privacy {

}

#what-happens-next {

}

#team {

}


/* Multiple panels */
.container {
	width: 100%;
	position: relative;
}

/* Full page width */
.section {
	box-sizing: border-box;
	width: 100%;
	position: relative;
	padding-left: 10%;
	padding-right: 10%;
}

.section-title {

}

.section-subtitle {

}

.section-text {

}

/* Subdivisions of a full page */
.block {
	box-sizing: border-box;
	position: relative;
	float: left;
	padding-right: 10px;
	height: 100%;
}

.block.third {
	width: calc(100% / 3);
}

/* Navigation links */
.nav {
	float: left;
	clear: left;
}
