{% load static %}

<!DOCTYPE HTML>
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="google-site-verification" content="Ou9mwbeyCtDuGtpHaFXRtHD2N2uDFyYajVIZUSrTLSA" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
		<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" />
	</head>
	<body>
		<div id="page-wrapper">

			<!-- Header -->
			<div id="header" class="container">

				<!-- Logo
				<div id="logo-head">
					<img src="{% static 'home/img/logo_v3.1_head_measured.png' %}" />
				</div>

				Nav
				<div id="nav">
					<img id="logo-tail" src="{% static 'home/img/logo_v3.1_tail_measured.png' %}" />
					<div id="nav-list">
						<a class="nav" href="#">First</a>
						<a class="nav" href="#">Second</a>
						<a class="nav" href="#">Third</a>
						<a class="nav" href="#">Fourth</a>
					</div>
				</div>-->

			</div>

			<!-- Content -->
			<div id="content" class="container">
				<div id="branding-heads-up" class="section">
					<img src="{% static 'home/img/logo_v3.3.png' %}" />
				</div>
				<div id="future-of-agriculture" class="section">
					<h2 class="section-title">What is the future of agriculture?</h2>
					<p class="section-text">
						We believe the future lies in quick and simple aerial surveys providing data to drive better farming practices.
						Outfield is building systems that improve efficiency and save farmers time and money.
					</p>
					<p class="section-text">
						Designed by growers, built by us.
					</p>
				</div>

				<div id="how-does-it-work" class="section">
					<h2 class="section-title">How does it work?</h2>
					<p class="section-text">
						Our approach is focussed on spending time face to face with farmers, in order to develop effective solutions to current problems. Combining local knowledge of farming with Outfield's expertise in drone operation and imagery analysis, we are developing new systems that will help your farm, today.
					</p>
					<p class="section-text">
						Our current projects include:
					</p>
				</div>

				<div id="services" class="section">
					<div id="field-margin-mapping" class="block third">
						<div class="shield">
							<h2 class="block-title">Field Margin Mapping</h2>
							<p>
								Fast and accurate aerial surveys of field boundaries to help you meet your Countryside Stewardship Scheme obligations
							</p>
						</div>
					</div>
					<div id="precision-farming" class="block third">
						<div class="shield">
							<h2 class="block-title">Precision Farming</h2>
							<p>
								Detailed scans of vegetation index and biomass data, that plug straight into your current precision farming systems
							</p>
						</div>
					</div>
					<div id="weed-detection" class="block third">
						<div class="shield">
							<h2 class="block-title">Weed Detection</h2>
							<p>
								High resolution plots highlighting problem areas, providing you with the tools you needs for better weed management
							 </p>
						</div>
					</div>
				</div>
				<div id="safety-and-privacy" class="section">
					<h2 class="section-title">Prioritising Safety and Privacy</h2>
					<p class="section-text">
						Our highest priorities are public safety and the privacy of our clients. All of our operations are fully compliant with UK drone legislation.
					</p>
				</div>
				<div id="what-happens-next" class="section">
					<h2 class="section-title">What happens next?</h2>
					<p class="section-text">
						Outfield is working with farmers and researchers to develop a range of agricultural survey solutions. We’re always interested in discussing problems and possible solutions, and in forming new partnerships with industry.
					</p>
					<p class="section-text">
						If you’re interested in any of the information here, would like to be involved, or would like to discuss our services further, get in contact with us at the bottom of this page.
					</p>
				</div>
				<div id="team" class="section">
					<h2 class="section-title">Meet the team</h2>
					<p class="section-subtitle">Outfield is based in Cambridge, England.</p>
					<div class="block third" style="padding:15px;">
						<img src="{% static 'home/img/jim02.jpg' %}" />
						<h2 class="block-title">Jim</h2>
						<p>
							Jim is an engineer and risk consultant working in a variety of industries, who has also developed UK safety legislation and best practice guidance. He loves climbing, hiking and fine whisky.
						</p>
					</div>
					<div class="block third" style="padding:15px;">
						<img src="{% static 'home/img/nick01.jpg' %}" />
						<h2 class="block-title">Nicholas</h2>
						<p>
							Nicholas is an astrophysicist with a passion for image analysis, having worked with everything from stars to cancer cells. He loves art, robots, and web design.
						</p>
					</div>
					<div class="block third" style="padding:15px;">
						<img src="{% static 'home/img/oli02.jpg' %}" />
						<h2 class="block-title">Oli</h2>
						<p>
							Oli is an aerospace engineer with several year's experience designing special missions aircraft. He is passionate about drones, and the vast potential they hold for mankind.
						</p>
					</div>
				</div>
				<div id="activity-contact" class="section">
					<div id="twitter" class="block half">
						<h2 class="block-title">Twitter</h2>
						<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/cropmapping" data-widget-id="733651197391953921" height="450px">Tweets by @cropmapping</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
					</div>
					<div id="contact" class="block half">
						<h2 class="block-title">Email</h2>
						<p style="text-align:left; padding-left: 10px">Get in touch</p>
						<form id="contact-form">
							{% csrf_token %}
							<div class="contact" style="position:absolute; width:45%;">
								<input id="name" type="text" class="form-control" placeholder="Name">
							</div>
							<div class="contact" style="position:relative; width:50%; left: 50%">
								<input id="email" type="text" class="form-control" placeholder="Email">
							</div>
							<div class="contact">
								<textarea id="message" class="form-control" placeholder="Your message" style="height:200px"></textarea>
							</div>
							<div class="contact btn btn-default">Send</div>
						</form>
					</div>
				</div>
			</div>

			<!-- Footer -->
			<div id="footer" class="container">

			</div>
			<!-- <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/cropmapping" data-widget-id="733651197391953921">Tweets by @cropmapping</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> -->

		</div>

		<!-- Scripts -->
		<script src='{% static "js/jquery.min.js" %}'></script>
		<script src='{% static "js/js.cookie.js" %}'></script>
		<script src='{% static "js/main.js" %}'></script>

	</body>
</html>
